{% extends 'base.html' %}

{% block title %}Change password successful | {{ block.super }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Change password</a></li>
    <li class="breadcrumb-item active">Success</li>
</ol>
{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> Your password has been changed!
</div>
<a href="{% url 'BoardList' %}" class="btn btn-secondary">Return to home page</a>
{% endblock %}